CC-MAIN-20221007112411-20221007142411-00737.warc.gz
CC-MAIN-20221007112411-20221007142411-00737.warc.wet
CC-MAIN-20221007112411-20221007142411-00737.warc.wet.gz
current_index.gz (1).parquet
current_index.gz.parquet
current_wet_tmp.warc.wet.gz
current_wet.warc.wet
hungarian_0.txt
hungarian.csv
part-00000-26160df0-1827-4787-a515-95ecaa2c9688.c000.gz.parquet
part-00000-a0906200-461b-4808-9b94-6c53daf73f61.c000.gz.parquet
hungarian_text_0.txt
hungarian_sorted.csv
data/hungarian_text_0 copy.txt
data/hungarian_sorted.zip
data/nohup_zip.zip
data_vizz/char_freq_common.png
data_vizz/char_freq_uncommon.png
data_vizz/common_word.png
data_vizz/line_lenght_hist.png
data_vizz/log_line_length.png
data/
models/guttenberg/merges.txt
models/guttenberg/special_tokens_map.json
models/guttenberg/tokenizer_config.json
models/guttenberg/tokenizer.json
models/guttenberg/vocab.json
models/tokenizer/merges.txt
models/tokenizer/special_tokens_map.json
models/tokenizer/tokenizer_config.json
models/tokenizer/tokenizer.json
models/tokenizer/vocab.json
models/tokenizer_telex/merges.txt
models/tokenizer_telex/special_tokens_map.json
models/tokenizer_telex/tokenizer_config.json
models/tokenizer_telex/tokenizer.json
models/tokenizer_telex/vocab.json
torrents/file.html
torrents/torrents.php@action=download
torrents/torrents.php@action=download.1
